
node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.vscode/
.vscode-root/
log/
backups/
build
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.env
.env.*
.scannerwork/
sonar-project.properties
coverage/
.nyc_output/
